.donut-label {
  font-size: 34px;
}

@mixin smaller-than $mantine-breakpoint-sm {
  .wrapper {
    flex-wrap: wrap;
  }
  .donut {
    align-self: center;

    &-wrapper {
      flex-grow: 1;
    }
    &-title {
      text-align: center;
      margin-bottom: 32px;
    }
  }
  .limits {
    justify-content: space-around;
  }
}
